<html>
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <h1 class="form-product-title">Formulario de productos</h1>
            <form class="form-product" method="POST" action="/products/create">
                <label class="form-product-label" for="producto">Producto</label>
                <input class="form-product-input" type="text" name="producto" id="producto">
                <br>
                <label class="form-product-label" for="precio">Precio</label>
                <input class="form-product-input" type="text" name="precio" id="precio">
                <br>
                <label class="form-product-label" for="categoria">Categoria</label>
                <input class="form-product-input" type="text" name="categoria" id="categoria">
                <br>
                <label class="form-product-label" for="descripcion">Descripción</label>
                <input class="form-product-input" type="text" name="descripcion" id="descripcion">
                <br>
                <label class="form-product-label" for="descuento">Descuento</label>
                <input class="form-product-input" type="text" name="descuento" id="descuento">
                <br>
                <label class="form-product-label" for="score">Score</label>
                <input class="form-product-input" type="text" name="score" id="score">
                <br>
                <label class="form-product-label" for="imagen">Imagen</label>
                <input class="form-product-input" type="file" name="imagen" id="imagen" accept="image/jpg,image/png">
                <br>
                <button class="form-product-btn" type="submit">Crear</button>
                <input class="form-product-btn-reset" type="reset" value="Borrar">
            </form>
            <%- include('../partials/footer') %>
    </body>

</html>