<html>
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>
        <h1 class="form-product-title">Formulario de productos</h1>
        <form class="form-product" method="POST" action="/users/registro">
        <label class="form-product-label" for="">Producto</label>
        <input class="form-product-input" type="text" name="Producto">
        <br>
        <label class="form-product-label" for="">Precio</label>
        <input class="form-product-input" type="text" name="precio">
        <br>
        <label class="form-product-label" for="">Categoria</label>
        <input class="form-product-input" type="text" name="categoria">
        <br>
        <label class="form-product-label" for="">Descripción</label>
        <input class="form-product-input" type="text" name="descripcion">
        <br>
        <label class="form-product-label" for="">Imagen</label>
        <input class="form-product-input" type="file" name="imagen" accept="image/jpg,image/png">
        <br>
        <input class="form-product-btn" type="submit" value="Subir">
        <input class="form-product-btn-reset" type="reset" value="Borrar">
        </form>
        <%- include('./partials/footer') %>
    </body>
</html> 