<%- include('./partials/head') %>

<body>
    <main class="login-and-register">
        <%- include('./partials/header') %>

        <section class="container-form">
            <div class="register-with-facebook">
                <button class="button-facebook" name="facebook"><span class="fab fa-facebook-f"></span></button>
                <button class="button-facebook1" name="facebook"><p>Ingresar con facebook</p></button>
            </div>

            <form class="register" action="validar.php" method="post">
                <div class="text">
                    <p>O INGRESA TUS DATOS:</p>
                </div>

                <div class="container-dates">
                    <input class="name" type="text" name="nickname" placeholder="Nombre de usuario">
                </div>

                <div class="container-dates">
                    <input class="email" type="email" name="email" placeholder="E-mail">
                </div>

                <div class="container-dates">
                    <input class="password" type="password" name="password" placeholder="Cree una contraseña">
                </div>

                <div class="send-or-reset">
                    <button class="btn-form-enter" type="submit" name="send">Ingresar</button>
                    <button class="btn-form-delete" type="reset" name="reset">Borrar contenido</button>
                </div>

                <div class="go-to-page">
                    <a href="#">Olvidé mi contraseña</a>
                    <a href="register">¿No tengo cuenta?</a>
                </div>
            </form>
        </section>

        <%- include('./partials/footer') %>
    </main>
</body>

</html>
