<%- include('./partials/head') %>

<body>
    <main>
        <%- include('./partials/header') %>
      <section class="container-productList">
          <div class="container-productList-img">
              <img src="/images/botella-vino.webp" alt="">
          </div>
          <div class="container-productList-info">
            <h4 class="productDetail-container-productName">Producto 1</h4>
            <p class="productDetail-container-price">$3.999,00</p>
            <p class="productDetail-container-unitsPerProduct">Caja de 6 unidades</p>
          </div>
      </section>
    
    </main>
</body>