<%- include('./partials/head') %>

<body>
    <main>
        <%- include('./partials/header') %>

        <div class="productDetail-container">
            <img class="productDetail-container-image" src="/images/botella-vino.webp" alt="">
            <p class="productDetail-container-score">0.0 Estrellas</p>
            <h4 class="productDetail-container-productName">Producto 1</h4>
            <p class="productDetail-container-Detail">Juguemos a descubrir tanto los terruños como los métodos de
                vinificación.... Da la rienda suelta a tus sentidos, sé parte de descubrir la evolución en estructura,
                cuerpo, frutalidad de nuestras líneas jóvenes. Luego contanos por la redes como te fue explorando...</p>
            <p class="productDetail-container-price">$3.999,00</p>
            <p class="productDetail-container-unitsPerProduct">Caja de 6 unidades</p>
        </div>
        <div class="productDetail-container-containerUnit">
            <button class="productDetail-container-containerUnit-remove"><i class="fas fa-minus-circle"></i></button>
            <p>1</p>
            <button class="productDetail-container-containerUnit-add"><i class="fas fa-plus-circle"></i></button>
        </div>
        <div class="productDetail-container-addToCart">
            <button>Agregar al carrito</button>
        </div>
        <div class="productDetail-container-banner">
            <i class="fas fa-truck"></i>
            <p>Ver opciones de envios</p>
        </div>
        <div class="productDetail-container-banner">
            <i class="fas fa-money-check"></i>
            <p>¡Hasta <span>6 cuotas</span> sin interes</p>
        </div>
        <div class="productDetail-similarProduct-title">
            <h4>Productos similares</h4>
            <img src="/images/botella-vino.webp" alt="">
            <h4>Producto sugerido</h4>
            <p>$3.000,00</p>
            <p>$.4000,00 <span class="productDetail-cantainer-similarProduct-preciOff">25% OFF</span></p>
        </div>

<%- include('./partials/footer') %>
    </main>
</body>

</html>