*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
main {
  background-color: lightgray;
}

/* Barra de navegación */
.nav-bar{
    font-size: 17px;
    background: rgb(61, 155, 218);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.nav-bar--logo{
    width: 82px;
}
.nav-bar--search{
    width: 50%;
    text-align: center;
    color: white;
}
.nav-bar--search input {
    width: 80%;
    height: 36px;
}
  .dropbtn {
    background-color:rgb(61, 155, 218);
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    height: 60px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    background-color: rgb(61, 155, 218);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #3e3f8e;}

  /* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  display: none;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.category-container{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.category-container-title{
  align-self: flex-start;
}
.category-container-cards{
  display: flex;
}
.category-container-img{
  max-width: 100px;
  margin: 0 auto;
}

.category-container-card{
  border: 1px solid lightgray;
  background-color: white;
  width: 50%;
  text-align: center;
}
.category-container-paragraph{
  color: black;
  text-align: center;
}
.offers-container{
  margin: 20px 0;
  border-bottom: solid 10px white;
  }
.offers-container h2{
  background-color: white;
}
.offers-container-grid{
  display: flex;
  flex-wrap: wrap;
}
.offers-container-card{
  margin: 2px;
  background-color: white;
  justify-content: space-around;
  max-width: 425px;
}
.offers-container img{
  max-width: 100%;
}
.offers-container-card-text{
  color: black;
  text-align: center;
}
.offers-container-card-title{
  color: gray;
}
.offers-container-card-realPrice{
  text-decoration: line-through;
  color: gray;
  font-size: 12px;
}
.offers-container-card-discount{
  color: green;
  font-size: 12px;
}

.card-banner{
  display: flex;
  flex-direction: column;
}
.card-banner-shipping{
  position: relative;
  display: block;
  height: 50px;
  background-color: white;
  color: black;
  margin-bottom: 20px;
  border-radius: 2px;
  padding: 8px;
  background-image: url(../../images/delivery.webp);
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
}
.card-banner-payment{
  position: relative;
  display: block;
  height: 50px;
  background-color: white;
  color: black;
  margin-bottom: 20px;
  border-radius: 2px;
  padding: 8px;
  background-image: url(../../images/creditcard.webp);
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
}
.text-icons-large{
 display: block;
 padding: 0 80px;
}
.text-icons-small{
  display: block;
  padding: 0 80px;
  font-size: 12px;
  color: #666666;
}
.right-arrow{
  position: absolute;
  right: 20px;
  color: #666;
  top: 15px;
}
.row{
  display: flex;
}
.row img {
  width: 100%;
}

.imageblock-small{
  display: flex;
  width: 100%;
}

.imageblock-small2{
  display: flex;
  width: 100%;
}


/*Register and Login*/

.container-form {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  flex-wrap: wrap;
}

/*registrarse con facebook*/

.register-with-facebook {
  display: flex;
  margin: 30px 0px;
}

.button-facebook, .button-facebook1 {
  display: flex;
  background-color: #3b5998;
  color: #fff;
  border: none;
}

.button-facebook {
  font-size: 30px;
  margin: 0px 1px;
  padding: 5px;
}

.button-facebook1 {
  padding: 7px 40px;
  font-size: 20px;
}

.button-facebook:hover, .button-facebook1:hover {
  background-color: rgba(66,103,178,0.8);
  cursor: pointer;
}

.button-facebook:focus, .button-facebook1:focus {
  outline: none;
}

/*formulario de registro*/

/*texto adicional*/

.text {
  font-size: 15px;
  color: #2E8B57;
  margin-top: 12px;
  width: auto;
}

/*contenedores de datos*/

.container-dates {
  margin: 12px 0px;
}

.container-dates input:focus {
  outline: none;
}

.container-dates input {
  background: none;
  font-size: 22px;
  padding: 15px 30px 15px 0px;
  width: 100%;
  border: none;
  color: #999999;
  border-bottom: 2px solid #999999;
}

/*tetrminos y condiciones*/

.terms-and-conditions {
  font-size: 18px;
  margin: 15px;
}

.terms-and-conditions a {
  color: #3366BB;
  text-decoration: none;
}

.terms-and-conditions a:hover {
  text-decoration: underline;
}

/*enviar o resetear*/

.send-or-reset button {
  cursor: pointer;
  width: 100%;
  color: #ffff;
  font-size: 25px;
  border: none;
}

.btn-form-enter {
  background-color: #00A055;
  margin-top: 10px;
}

.btn-form-enter:hover {
  background-color: #2AC27B;
}

.btn-form-delete {
  background-color:#E9AB05;
  margin-top: 10px;
}

.btn-form-delete:hover {
  background-color: rgb(243, 189, 10);
  cursor: pointer;
  border: none;
}

.btn-form:focus {
  outline: none;
  border: none;
}

/*ir a la página*/

.go-to-page a {
  margin: 5px;
  font-size: 18px;
  color: #3366BB;
  text-decoration: none;
}

.go-to-page a:hover {
  text-decoration: underline;
}

/*media del login y register*/

@media(min-width:769px){
  .container-form {
    margin: 0px 20vw;
    padding-bottom: 5vh;
  }
}

/*Register and Login end*/


footer{
  background-color: rgb(170, 168, 168);
}
footer h4{
  text-align: center;
  font-size: 9px;
  font-weight: normal;
}
.footer-logos{
  padding-top: 20px;
}
.footer-logos img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Style product cart*/
/* Style product cart empty*/
.cart-article-container-empty{
  background-color: white;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px rgb(148, 144, 144);
}
.fa-shopping-cart{
  color:rgb(61, 155, 218) ;
  background-color: white;
  align-self: center;
  font-size: 40px;


}
.cart-empty-cart{
  background-color: white;
  font-size: 20px;
  width: 33%;
  align-self: center;
  text-align: center;
}
.cart-return{
  font-size: 15px;
  color:black;
  background-color:rgb(61, 155, 218);
  width: 33%;
  height: 5vh;
  align-self: center;
  border: none;
  text-decoration: none;
}
.cart-empty-btn3{
  color: white;
  background-color:rgb(0, 160, 85);
  width: 100%;
  height: 50px;
  font-size: 12px;
  text-align: center;
  border: none;
  margin-top: 20px;
  text-decoration: none;
}
.cart-empty-btn3:hover{
  background-color:rgb(42, 194, 123);
  cursor: pointer;
  border: none;
}
.cart-article-container{
  background-color: white;
  width: 100%;
  display: flex;
  border: solid 1px rgb(148, 144, 144);
}
.cart-article-container-left{
  align-self: center;
  background-color: white;
  max-width: 25%;
  margin: 15px;
}

.cart-article-container-right{
  align-self: center;
  background-color: white;
  width: 60%;
  padding: 20px;
}
.cart-article-container-img{
  display: block;
  width: 100%;
  padding: 0px;

}
.cart-article-container-title{
  background-color: white;
  font-size: 18px;
}
.cart-article-container-price{
  background-color: white;
  font-size: 15px;
  text-align: left;
}
.cart-article-container-offer{
  color: green;
  background-color: white;
  font-size: 15px;
  text-align: left;
}
.cart-container-btn{
  background-color: white;
  margin-top: 5px;
}
.cart-button{
  background-color: white;
  border: none;
}
.cart-icon {
  font-weight: 900;
  background-color: white;
}
.cart-counter{
  background-color: white;
  width: 80px;
  text-align: center;
  border: none;
}
.cart-delete-product{
  color: blue;
  margin: 2px;
  background-color: white;
  font-size: 10px;
  align-self: center;
}
.cart-description{
  display: flex;
  background-color: white;
  border: 1px solid #8E579D;
  width: 100%;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.cart-item-a{
  background-color: white;
  align-self: center;
  margin-left: 5px;
  width: 50%;
}
.cart-item-b{
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  width: 50%;
}
.cart-btn3{
  color: white;
  background-color:rgb(0, 160, 85);
  width: 100%;
  height: 50px;
  font-size: 12px;
  text-align: center;
  border: none;
  margin-top: 20px;
  text-decoration: none;
}
.cart-btn3:hover{
  background-color:rgb(42, 194, 123);
  cursor: pointer;
  border: none;
}
.cart-btn4{
  color: white;
  background-color:#E9AB05;
  width: 100%;
  height:50px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  border: none;
}
.cart-btn4:hover{
  background-color: rgb(243, 189, 10);
  cursor: pointer;
  border: none;
}
/* Style product cart end*/

/* Style product Detail start*/
/*detail*/

.productDetail {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.productDetail-container1 img{
  border: 1px solid black;
  width: 100%;
  padding: 30px;
}
.productDetail-container2 span{
  display: block;
  margin: 0px 10px;
  padding: 5px 10px;
}
.productDetail-container3{
  display: flex;
  margin: 0px 10px;
  padding: 5px 10px;
}
.productDetail-container3 span{
  margin-left: 0px;
  padding: 0;
}
.productDetail-container2 h4{
  font-weight: bold;
  font-size: 30px;
  margin: 10px;
}
.productDetail-container-price{
  font-weight: 800;
}

/*Contador add to card*/
.productDetail-container-containerUnit{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.productDetail-container-containerUnit p{
  padding-right: 80px;
  padding-left: 80px;
  background-color: white;
}

/*botton add to cart*/

.contador {
  display: flex;

}

.cart-btn5{
  color: white;
  background-color:rgb(0, 160, 85);
  width: 100%;
  height: 50px;
  font-size: 12px;
  text-align: center;
  border: none;
  text-decoration: none;
}
.productDetail-container-btn{
  display: flex;
  width: 100%;
}
.cart-btn51{
  display: flex;
  color: white;
  background-color:rgb(37, 65, 223);
  width: 50%;
  height: 50px;
  font-size: 12px;

}

.cart-btn52{
  color: white;
  background-color:rgb(233, 20, 20);
  width: 50%;
  height: 50px;
  font-size: 12px;
  text-align: center;
  border: none;
  text-decoration: none;
}
.productDetail-container-addToCart{
  color: white;
  background-color:rgb(0, 160, 85);
  width: 100%;
  height: 50px;
  font-size: 12px;
  text-align: center;
  border: none;
  margin-top: 20px;
  text-decoration: none;
}

/*productos similares*/

.productDetail-similarProduct-title{
  background-color: white;
  margin: 10px 10px;
}
.productDetail-similarProduct-title p{
  margin: 3px 10px;
font-weight: 800;
}
.productDetail-similarProduct-title img{
  padding: 30px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.productDetail-similarProduct-title h4{
  padding: 5px 10px;
  margin-top: 10px;
  }
.productDetail-similarProduct-title p{
padding: 5px 10px;
}
.productDetail-similarProduct-title p span{
color: green;
  }

/*ProductList*/
.container-productList{
  display: inline-flex;
  background-color: white;
  width: 100%;
  justify-content: center;
  align-items: center;

}
.container-productList-img{
 width: 30%;
 border-right: solid 1px lightgray;
 text-align: center;
}
.container-productList-img img{
  width: 120px;
  }

.container-productList-info{
  width: 70%;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 5px 5px 5px 10px;
}
/*formulario de producto*/
.form-product-title{
  font-size: 30px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
}

.form-product{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.form-product-label{
  font-family:'PT Sans Narrow', sans-serif ;
  font-size: 20px;
  margin-left: 40px;

}
.form-product-input{
  width: 90%;
  padding: 10px;
  align-self: center;
}

.form-product-btn{
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  background-color:rgb(0, 160, 85);
  width: 100%;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border: none;
  margin-top: 20px;
  text-decoration: none;
}
.form-Product-btn:hover{
  background-color:rgb(42, 194, 123);
  cursor: pointer;
  border: none;
}
.form-product-btn-reset{
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  background-color:#E9AB05;
  width: 100%;
  height:50px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border: none;
}
.form-product-btn-reset:hover{
  background-color: rgb(243, 189, 10);
  cursor: pointer;
  border: none;
}
/*termina estilos de formulario de carga de productos*/


/* Style product Detail end*/

@media(min-width:426px){
  .offers-container-card{
    max-width: 49%;
  }
}


@media(min-width:768px){

  .dropbtn {
    display: none;
  }

  .dropdown {
    display: inline;
  }

  .dropdown-content {
    display: flex;
    position: relative;
    box-shadow: none;
    z-index: unset;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: flex;}

  .slideshow-container {
    display: block;
  }

  .category-container{
    flex-wrap: nowrap;
  }

  .offers-container-card{
    max-width: 24%;
  }

  .offers-container-grid{
    justify-content: space-between;
  }

  .productDetail{
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px 0px;
  }
  .productDetail-container1{
    max-width: 50%;
   }
  .productDetail-container2{
    width: 50%;
    margin-top: 60px;
      }
  .productDetail-container-containerUnit{
    width: 100%;
  }
  .cart-btn3{
    width:50%
  }
  .cart-btn4{
    width:50%
  }


}
