<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a VinoOnline</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- FAS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
    <main>
        <Header>
            <div class="nav-bar">
                <div class="nav-bar--logo">
                    <a href="/">
                        <img src="../../public/img/vino-vino.png" alt="Logo" width="100%" height="100%" id="logo">
                    </a>
                </div>
                <div class="nav-bar--search">
                    <form action="" method="post">
                        <input type="search" name="search" id="search" placeholder="Buscar">
                        <label for="search"><i class="fas fa-search"></i></label>
                    </form>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="productCart.html">Carrito</a>
                        <a href="register.html">Registro</a>
                        <a href="login.html">Login</a>
                    </div>
                </div>
            </div>
        </Header>
        <section>
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../../public/img/banner.png" style="width:100%">
                </div>

                <div class="mySlides fade">
                    <img src="../../public/img/pago.jpg" style="width:100%">
                </div>

                <div class="mySlides fade">
                    <img src="../../public/img/envio.jpg" style="width:100%">
                </div>

            </div>
        </section>
        <section class="category-container">
            <div class="category-container-title">
                <h2>Categorías</h2>
            </div>
            <div class="category-container-cards">
            <div class="category-container-card">
                <a href="#">
                    <img src="../../public/img/VINO_TINTO.svg" alt="">
                    <span class="category-container-span">Vinos Tintos</span>
                </a>
            </div>
            <div class="category-container-card">
                <a href="#">
                    <img src="../../public/img/VINO_TINTO.svg" alt="">
                    <span class="category-container-span">Vinos Tintos</span>
                </a>
            </div>
            <div class="category-container-card">
                <a href="#">
                    <img src="../../public/img/VINO_TINTO.svg" alt="">
                    <span class="category-container-span">Vinos Tintos</span>
                </a>
            </div>
            <div class="category-container-card">
                <a href="#">
                    <img src="../../public/img/VINO_TINTO.svg" alt="">
                    <span class="category-container-span">Vinos Tintos</span>
                </a>
            </div>
            <div class="category-container-card">
                <a href="#">
                    <img src="../../public/img/VINO_TINTO.svg" alt="">
                    <span class="category-container-span">Vinos Tintos</span>
                </a>
            </div>
            <div class="category-container-card">
                <a href="#">
                    <img src="../../public/img/VINO_TINTO.svg" alt="">
                    <span class="category-container-span">Vinos Tintos</span>
                </a>
            </div>
            <div class="category-container-card">
                <a href="#">
                    <img src="../../public/img/VINO_TINTO.svg" alt="">
                    <span class="category-container-span">Vinos Tintos</span>
                </a>
            </div>
            <div class="category-container-card">
                <a href="#">
                    <img src="../../public/img/VINO_TINTO.svg" alt="">
                    <span class="category-container-span">Vinos Tintos</span>
                </a>
            </div>
            </div>
        </section>
        <footer>

        </footer>
    </main>
    <script>
        //Scritp de animación en el banner
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            slides[slideIndex - 1].style.display = "block";
            setTimeout(showSlides, 2000); // Cambia de imagen cada 2 segundos
        }
    </script>
</body>

</html>
