<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a VinoOnline</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- FAS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
    <main>
        <Header>
            <div class="nav-bar">
                <div class="nav-bar--logo">
                    <a href="/">
                        <img src="img\vino-vino.png" alt="Logo" width="100%" height="100%" id="logo">
                    </a>
                </div>
                <div class="nav-bar--search">
                    <form action="" method="post">
                        <input type="search" name="search" id="search" placeholder="Buscar">
                        <label for="search"><i class="fas fa-search"></i></label>   
                    </form>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="productCart">Carrito</a>
                        <a href="register">Registro</a>
                        <a href="login">Login</a>
                    </div>
                </div>
            </div>
        </Header>
        <section>

        </section>
        <footer>
            
        </footer>
    </main>
</body>

</html>