<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a VinoOnline</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- FAS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <!-- Font PT SANS NARROW-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <Header>
            <div class="nav-bar">
                <div class="nav-bar--logo">
                    <a href="/">
                        <img src="img\logo.png" alt="Logo" width="100%" height="100%" id="logo">
                    </a>
                </div>
                <div class="nav-bar--search">
                    <form action="" method="post">
                        <input type="search" name="search" id="search" placeholder="Buscar">
                        <label for="search"><i class="fas fa-search"></i></label>
                    </form>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="productCart">Carrito</a>
                        <a href="register">Registro</a>
                        <a href="login">Login</a>
                    </div>
                </div>

            </div>
        </Header>
        <div class="productDetail-container">
            <img class="productDetail-container-image" src="img\botella-vino.webp" alt="">
            <p class="productDetail-container-score">0.0 Estrellas</p>
            <h4 class="productDetail-container-productName">Producto 1</h4>
            <p class="productDetail-container-Detail">Juguemos a descubrir tanto los terruños como los métodos de
                vinificación.... Da la rienda suelta a tus sentidos, sé parte de descubrir la evolución en estructura,
                cuerpo, frutalidad de nuestras líneas jóvenes. Luego contanos por la redes como te fue explorando...</p>
            <p class="productDetail-container-price">$3.999,00</p>
            <p class="productDetail-container-unitsPerProduct">Caja de 6 unidades</p>
        </div>
        <div class="productDetail-container-containerUnit">
            <button class="productDetail-container-containerUnit-remove"><i class="fas fa-minus-circle"></i></button>
            <p>1</p>
            <button class="productDetail-container-containerUnit-add"><i class="fas fa-plus-circle"></i></button>
        </div>
        <div class="productDetail-container-addToCart">
            <button>Agregar al carrito</button>
        </div>
        <div class="productDetail-container-banner">
            <i class="fas fa-truck"></i>
            <p>Ver opciones de envios</p>
        </div>
        <div class="productDetail-container-banner">
            <i class="fas fa-money-check"></i>
            <p>¡Hasta <span>6 cuotas</span> sin interes</p>
        </div>
        <div class="productDetail-similarProduct-title">
            <h4>Productos similares</h4>
            <img src="img\botella-vino.webp" alt="">
            <h4>Producto sugerido</h4>
            <p>$3.000,00</p>
            <p>$.4000,00 <span class="productDetail-cantainer-similarProduct-preciOff">25% OFF</span></p>
        </div>

        <footer>
            <div class="footer-logos">
                <img src="/img/footer-logos.webp" alt="Footer-logos">
            </div>
            <h4>BEBER CON MODERACIÓN.</h4>
            <h4>PROHIBIDA LA VENTA A MENORES DE 18 AÑOS.</h4>
        </footer>
    </main>
</body>

</html>