<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a VinoOnline</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- FAS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <!-- Font PT SANS NARROW-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <Header>
            <div class="nav-bar">
                <div class="nav-bar--logo">
                    <a href="/">
                        <img src="img\logo.png" alt="Logo" width="100%" height="100%" id="logo">
                    </a>
                </div>
                <div class="nav-bar--search">
                    <form action="" method="post">
                        <input type="search" name="search" id="search" placeholder="Buscar">
                        <label for="search"><i class="fas fa-search"></i></label>
                    </form>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="productCart">Carrito</a>
                        <a href="register">Registro</a>
                        <a href="login">Login</a>
                    </div>
                </div>

            </div>
        </Header>
            <div>
                <section class="cart-article-container">
                    <article class="cart-article-container-left">
                        <img class="cart-article-container-img" src="/img/vino-productcart.jpg" alt="">
                    </article> 
                    <article class="cart-article-container-right">
                        <h1 class="cart-article-container-title">Lorem, ipsum dolor.</h1>
                        <div class="cart-article-container-price">$4650,00</div>
                        <div class="cart-article-container-offer">$3720,00 (20% off)</div>
                        <div class="cart-container-btn">
                        <button class="cart-button"><i class="fas fa-minus-circle cart-icon"></i></button>
                        <input class="cart-counter" type="text" id="counter" class="form-control" value="1">
                        <button class="cart-button"><i class="fas fa-plus-circle cart-icon"></i></button>
                        <span class="cart-delete-product">Eliminar producto</span>
                    </article>              
                </section>
                <section>
                    <div class="cart-description">
                        <div class="cart-item-a">SUBTOTAL(#items)</div>
                        <div class="cart-item-b">$3720,00</div>
                    </div>
                </section>
                <section>
                    <div class="cart-description">
                        <div class="cart-item-a">ENVIO</div>
                        <div class="cart-item-b">CODIGO POSTAL</div>
                    </div>
                </section>
                <section>
                    <div class="cart-description">
                        <div class="cart-item-a">TOTAL</div>
                        <div class="cart-item-b">$3720,00</div>
                    </div>
                </section>
                <section>
                    <div>
                        <button class="cart-btn3"><a class=cart-btn3 href="index.html">Seguir comprando</a></button>   
                        <button class="cart-btn4" type="submit">Finalizar compra</button>
                    </div> 
                </section>
            </div>    
    </main>
</body>

</html>
