<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate en VinoOnline</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- FAS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <!-- Font PT SANS NARROW-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
</head>

<body>
    <main class="login-and-register">
        <Header>
            <div class="nav-bar">
                <div class="nav-bar--logo">
                    <a href="/">
                        <img src="../../public/img\logo.png" alt="Logo" width="100%" height="100%" id="logo">
                    </a>
                </div>
                <div class="nav-bar--search">
                    <form action="" method="post">
                        <input type="search" name="search" id="search" placeholder="Buscar">
                        <label for="search"><i class="fas fa-search"></i></label>
                    </form>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="productCart.html">Carrito</a>
                        <a href="register.html">Registro</a>
                        <a href="login.html">Login</a>
                    </div>
                </div>
            </div>
        </Header>

        <section class="container-form-register">
            <div class="register-with-facebook">
                <button class="button-facebook" name="facebook"><span class="fab fa-facebook-f"></span></button>
                <button class="button-facebook1" name="facebook"><p>Regitrarse con facebook</p></button>
            </div>

            <form class="register" action="validar.php" method="post">
                <div class="text">
                    <p>O DEJANOS LOS SIGUIENTES DATOS:</p>
                </div>

                <div class="container-dates">
                  <input class="name" type="text" name="name" placeholder="Nombre">
                </div>

                <div class="container-dates">
                    <input class="surname" type="text" name="surname" placeholder="Apellido">
                </div>

                <div class="container-dates">
                    <input class="email" type="email" name="email" placeholder="E-mail">
                </div>

                <div class="container-dates">
                    <input class="years" type="number" name="years" placeholder="Edad">
                </div>

                <div class="container-dates">
                    <input class="password" type="password" name="password" placeholder="Cree una contraseña">
                </div>

                <div class="terms-and-conditions">
                    <input type="checkbox" name="t-and-c">
                    <label for="t-and-c">Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></label>
                </div>

                <div class="send-or-reset">
                    <button class="btn-enter" type="submit" name="create">Crear cuenta</button>
                    <button class="btn-delete-content" type="reset" name="button">Borrar</button>
                </div>

                <div class="go-to-page">
                    <a href="login.html">¿Ya tengo cuenta?</a>
                </div>
            </form>
        </section>

        <footer>
            <div class="footer-logos">
                <img src="../../public/img/footer-logos.webp" alt="Footer-logos">
            </div>
            <h4>BEBER CON MODERACIÓN.</h4>
            <h4>PROHIBIDA LA VENTA A MENORES DE 18 AÑOS.</h4>
        </footer>
    </main>
</body>

</html>
