<footer>
    <div class="footer-logos">
        <img src="/images/footer-logos.webp" alt="Footer-logos">
    </div>
    <h4>BEBER CON MODERACIÓN.</h4>
    <h4>PROHIBIDA LA VENTA A MENORES DE 18 AÑOS.</h4>
</footer>