<section class="container-colum">
  <a href="/users/profile/<%= user.id %>">Perfil Principal</a>
  <a href="/users/profile/edit/<%= user.id %>">Editar Datos</a>
  <a href="/users/profile/<%= user.id %>/avatar">Editar Avatar</a>
  <a href="/users/profile/<%= user.id %>/password">Editar Contraseña</a>
</section>
