*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
main {
  background-color: lightgray;
}

/* Barra de navegación */
.nav-bar{
    font-size: 17px;
    background: rgb(61, 155, 218);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.nav-bar--logo{
    width: 82px;
}
.nav-bar--search{
    width: 50%;
    text-align: center;
    color: white;
}
.nav-bar--search input {
    width: 80%;
    height: 6vh;
}
  .dropbtn {
    background-color:rgb(61, 155, 218);
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    height: 60px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    background-color: rgb(61, 155, 218);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e3f8e;}

  /* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.category-container{
  align-items: center;
  display: flex;
}

.category-container-title{
  align-self: flex-start;
}
.category-container-cards{
  display: flex;
}
.category-container-card{
  border: 1px solid lightgray;
  background-color: white;
  width: 25%;
}
.category-container-paragraph{
  color: black;
  text-align: center;
}
.offers-container{
  border: solid 1px black;
  margin: 20px 0;
}
.offers-container h2{
  background-color: white;
}
.offers-container-grid{
  display: flex;
}
.offers-container-card{
  margin: 6px;
  background-color: white;
}
.offers-container img{
  width: 100%;
}
.offers-container-card-text{
  color: black;
  text-align: center;
}
.offers-container-card-title{
  color: gray;
}
.offers-container-card-realPrice{
  text-decoration: line-through;
  color: gray;
  font-size: 12px;
}
.offers-container-card-discount{
  color: green;
  font-size: 12px;
}

.card-banner{
  display: flex;
  flex-direction: column;
}
.card-banner-shipping{
  position: relative;
  display: block;
  height: 50px;
  background-color: white;
  color: black;
  margin-bottom: 20px;
  border-radius: 2px;
  padding: 8px;
  background-image: url(../../img/delivery.webp);
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
}
.card-banner-payment{
  position: relative;
  display: block;
  height: 50px;
  background-color: white;
  color: black;
  margin-bottom: 20px;
  border-radius: 2px;
  padding: 8px;
  background-image: url(../../img/creditcard.webp);
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
}
.text-icons-large{
 display: block;
 padding: 0 80px;
}
.text-icons-small{
  display: block;
  padding: 0 80px;
  font-size: 12px;
  color: #666666;
}
.right-arrow{
  position: absolute;
  right: 20px;
  color: #666;
  top: 15px;
}

/* Style product cart*/ 
.cart-article-container{
  background-color: white;
  width: 100%;
  display: flex;
  border: solid 1px rgb(148, 144, 144);
}
.cart-article-container-left{
  align-self: center;
  background-color: white;
  width: 40%;
  margin: 15px;
}

.cart-article-container-right{
  align-self: center;
  background-color: white;
  width: 60%;
  padding: 20px;
}
.cart-article-container-img{
  display: block;
  width: 100%;
  padding: 0px;
  
}
.cart-article-container-title{
  background-color: white;
  font-size: 18px;
}
.cart-article-container-price{
  background-color: white;
  font-size: 15px;
  text-align: left;
}
.cart-article-container-offer{
  color: green;
  background-color: white;
  font-size: 15px;
  text-align: left;
}
.cart-container-btn{
  background-color: white;
  display: flex;
  margin-top: 5px;   
}
.cart-button{
  background-color: white;
  border: none;
}
.cart-icon {
  font-weight: 900;
  background-color: white;
}
.cart-counter{
  background-color: white;
  width: 10%;
  text-align: center;
  border: none;
}
.cart-delete-product{
  color: blue;
  margin: 2px;
  background-color: white;
  font-size: 10px;
  align-self: center;
}
.cart-description{
  display: flex;
  background-color: white;
  border: 1px solid #8E579D;
  width: 100%;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.cart-item-a{
  background-color: white;
  align-self: center;
  margin-left: 5px;
  width: 50%;
}
.cart-item-b{
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  width: 50%;
}
.cart-btn3{
  color: white;
  background-color:rgb(0, 160, 85);
  width: 100%;
  height: 50px;
  font-size: 12px;
  text-align: center;
  border: none;
  margin-top: 20px;
  text-decoration: none;
}
.cart-btn3:hover{
  background-color:rgb(42, 194, 123);
  cursor: pointer;
  border: none;
}
.cart-btn4{
  color: white;
  background-color:#E9AB05;
  width: 100%;
  height:50px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  border: none;   
}
.cart-btn4:hover{
  background-color: rgb(243, 189, 10);
  cursor: pointer;
  border: none;
}
/* Style product cart end*/

/* Style product Detail start*/
/*detail*/
.productDetail-container{
  background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.productDetail-container img{
  border: 1px solid black;
}
.productDetail-container p{
  display: block;
  margin: 0px 10px;
  padding: 5px 10px;
}
.productDetail-container h4{
  margin: 10px;
}
.productDetail-container-price{
  font-weight: 800;
}

/*Contador add to card*/
.productDetail-container-containerUnit{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.productDetail-container-containerUnit p{
  padding-right: 80px;
  padding-left: 80px;
  background-color: white;
}
/*boton add to card*/
.productDetail-container-addToCart{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.productDetail-container-addToCart button{
    padding: 5px;
}

/*Banner*/

.productDetail-container-banner{
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid black;
}
.productDetail-container-banner i{
  padding-right: 15px;
}

/*productos similares*/

.productDetail-similarProduct-title{
  background-color: white;
  margin: 10px 10px;
}
.productDetail-similarProduct-title p{
  margin: 3px 10px;
font-weight: 800;
}
.productDetail-similarProduct-title img{
  padding: 30px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.productDetail-similarProduct-title h4{
  padding: 5px 10px;
  margin-top: 10px;
  }
.productDetail-similarProduct-title p{
padding: 5px 10px;
}
.productDetail-similarProduct-title p span{
color: green;
  }
/* Style product Detail end*/