<%- include('../partials/head') %>

<body>
    <main>
        <%- include('../partials/header') %>

        <section class="">
            <h1>pulse el enlace para ingresar en su perfil</h1>
            <a href="/users/profile/<%= user.id%>">mi prefil</a>
        </section>


    </main>
</body>
