
<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>
    <main class= "main_user_created">
        <section class= "user_created">
          <form class=""  method="post">

            <h1>INGRESA TU CORREO:</h1>


            <div class="container-dates">
                <input class="email" type="email" name="email" placeholder="E-mail" '>
            </div>

            <button class="go-to-login" type="submit" name="button">cambiar contraseña</button>
          </form>
        </section>

          

    </main>
</body>
<%- include('../partials/footer') %>
