
<%- include('../partials/head') %>

<body>
    <main class= "main_user_created">
        <%- include('../partials/header') %>

        <section class= "user_created">

          <form class="" method="post">

            <h1>Correo enviado a la cuenta: <br> <%= user.email %></h1>

          <button class=go-to-login type="button" name="button"><a href="/">Aceptar</a></button>
        </section>

          <%- include('../partials/footer') %>

    </main>
</body>
