<%- include('../partials/head') %>
  <%- include('../partials/header') %>

    <body>
      <main class="main_user_created">


        <section class="user_created">

          <form class="" method="post">

            <h1>Correo enviado a la cuenta: <br>
              <%= user.email %>
            </h1>

            <a href="/"><button class="go-to-login" type="button" name="button">Aceptar</button></a>
        </section>
      </main>
    </body>
    <%- include('../partials/footer') %>