<%- include('../partials/head') %>

<body>
    <main class="login-and-register">
        <%- include('../partials/header') %>

        <section class="container-form">
            <div class="register-with-facebook">
                <button class="button-facebook" name="facebook"><span class="fab fa-facebook-f"></span></button>
                <button class="button-facebook1" name="facebook"><p>Regitrarse con facebook</p></button>
            </div>

            <form class="register" action="validar.php" method="post">
                <div class="text">
                    <p>O DEJANOS LOS SIGUIENTES DATOS:</p>
                </div>

                <div class="container-dates">
                  <input class="name" type="text" name="name" placeholder="Nombre">
                </div>

                <div class="container-dates">
                    <input class="surname" type="text" name="surname" placeholder="Apellido">
                </div>

                <div class="container-dates">
                    <input class="email" type="email" name="email" placeholder="E-mail">
                </div>

                <div class="container-dates">
                    <input class="years" type="number" name="years" placeholder="Edad">
                </div>

                <div class="container-dates">
                    <input class="password" type="password" name="password" placeholder="Cree una contraseña">
                </div>

                <div class="terms-and-conditions">
                    <input type="checkbox" name="t-and-c">
                    <label for="t-and-c">Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></label>
                </div>

                <div class="send-or-reset">
                    <button class="btn-form-enter" type="submit" name="create">Crear cuenta</button>
                    <button class="btn-form-delete" type="reset" name="button">Borrar</button>
                </div>

                <div class="go-to-page">
                    <a href="login">¿Ya tengo cuenta?</a>
                </div>
            </form>
        </section>

        <%- include('../partials/footer') %>
    </main>
</body>

</html>
